<div class="container-formpost">
  <div class="container">
    <div class="row">
        <h1 class="text-center"><span class="inset-hiragana">tableau des katakanas</span></h1>

      <div class="col-md-8 col-md-offset-2">
        <div class="text-center iteration-separator">
          <%= link_to hiraganas_path do %>
            <p class="color-link"><i class="fa fa-arrow-left"></i> Retourner vers le tableau des hiraganas</p>
            <% end %>
          </div>
        </div>
      </div>

        <ul class=" list-unstyled list-inline text-center">
            <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'a' }.each do |hiragana| %>
            <li class="col-md-3">
              <%= render 'katakanarender', hiragana: hiragana %>
            </li>
          <% end %>
        </ul>

        <br/>

        <ul class="list-unstyled list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'e' }.each do |hiragana| %>
          <li class="col-md-3">
            <%= render 'katakanarender', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>


        <ul class="list-unstyled list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'i' }.each do |hiragana| %>
          <li class="col-md-3">
            <%= render 'katakanarender', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>


        <ul class="list-unstyled list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'o' }.each do |hiragana| %>
          <li class="col-md-3">
            <%= render 'katakanarender', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>


        <ul class="list-unstyled list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'u' }.each do |hiragana| %>
          <li class="col-md-3">
            <%= render 'katakanarender', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>

      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline text-center">
          <li>
            <%= link_to "" do %>
              <div class="mix-button iteration-separator">
                <h5>Mélanger les katakanas</h5>
              </div>
            <% end %>
          </li>
        </ul>
      </div>

  </div>
</div>

