<div class="container-formpost">
  <div class="container">

      <div class="text-center">
        <h1 class="text-center"><span class="inset-hiragana">tableau des hiraganas</span></h1>
      </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="text-center">
            <%= link_to kanjis_path do %>
              <p class="color-link">Aller sur le tableau des kanjis <i class="fa fa-arrow-right"></i></p>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline text-center">
          <li>
            <%= link_to hiraganas_mix_path do %>
              <div class="mix-button">
                <h5>Mélanger les hiraganas</h5>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'a' }.each do |hiragana| %>
          <li>
            <%= render 'allhiraganas', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

      <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'e' }.each do |hiragana| %>
          <li>
            <%= render 'allhiraganas', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>
      </div>

       <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'i' }.each do |hiragana| %>
          <li>
            <%= render 'allhiraganas', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>
      </div>

       <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'o' }.each do |hiragana| %>
          <li>
            <%= render 'allhiraganas', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>
      </div>

        <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline text-center">
          <% @hiraganas.select { |hiragana| hiragana.bigletter.last == 'u' }.each do |hiragana| %>
          <li>
            <%= render 'allhiraganas', hiragana: hiragana %>
          </li>
        <% end %>
        </ul>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled list-inline text-center">
          <li>
            <%= link_to hiraganas_mix_path do %>
              <div class="mix-button">
                <h5>Mélanger les hiraganas</h5>
              </div>
            <% end %>
          </li>
        </ul>
      </div>

  </div>
</div>
