<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <h2 class="text-center"><span class="inset-favs">cartes à réviser</span></h2>
        <div class="text-center">
        <%= link_to hiraganas_path do %>
          <p class="color-link"><i class="fa fa-arrow-left"></i> Retourner vers le tableau</p>
        <% end %>
        <% @favs.each do |fav| %>
         <ul class="list-inline text-center card-frame">
            <li>
              <div class="card">
                <div class="front">
                <!--   <span class="card-question img-popover" data-content="<h4 class='text-center letter-uppercase'><%= fav.hiragana.bigletter.upcase %></h4><p class='text-center'><b><%= fav.hiragana.midletter %></b> comme dans <b><%= fav.hiragana.transcription %></b></p>">
                    <i class="fa fa-eye fa-lg"></i>
                  </span> -->

                <span class="card-question popover-word" data-content="<h4 class='text-center letter-uppercase'><%= fav.hiragana.bigletter.upcase %></h4><p class='text-center'><b><%= fav.hiragana.midletter %></b> comme dans <b><%= fav.hiragana.transcription %></b></p>">
                  <i class="fa fa-eye fa-lg"></i>
                </span>
                  <!-- son de l'hiragana -->
                  <span class="audioclick img-popover" data-content="<p class='text-center'><b>le son arrive prochainement !</b></p>">
                    <i class="fa fa-volume-up fa-lg"></i>
                  </span>
                  <!-- image mnémotechnique -->
                <% if fav.hiragana.upload.blank? %>
                  <div class="idea">
                    <i class="fa fa-lightbulb-o fa-lg"></i>
                  </div>
                  <% else %>
                    <div class="idea">
                      <span class="popover-trigger"
                      data-toggle="popover"
                      data-content='<%= cl_image_tag(fav.hiragana.upload,
                      :width => 210, :height => 290) %>'>
                      <i class="fa fa-lightbulb-o fa-lg"></i>
                    </span>
                  </div>
                <% end %>
                  <!-- <div class="prononciation">
                    <i class="fa fa-comment"></i>
                  </div> -->
                  <div class="card-hiragana hiragana-<%=fav.hiragana.bigletter.downcase.last%>">
                    <h1><b><%= fav.hiragana.ideo1 %></b></h1>
                  </div>
                  <div class="card-katakana">
                    <p><%= fav.hiragana.ideo2 %></p>
                  </div>
                </div>
                <div class="back">
                  <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-<%=fav.hiragana.bigletter.downcase.last%>">
                    <div class="backcard-hiragana">
                      <h1><b><%= fav.hiragana.ideo1 %></b></h1>
                    </div>
                    <div class="card-bigletter">
                      <h4><%= fav.hiragana.bigletter.upcase %></h4>
                    </div>
                  </div>
                </div>
              </div>
              <%= link_to "Supprimer cette carte", fav_path(fav), class:'btn btn-default', method: :delete %>
            </li>
          </ul>
             <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




