<div class="row">
    <div class= "col-md-8 col-md-offset-2 form-post">
      <%= simple_form_for @post do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, label: 'Title', input_html: { class: "input-lg"} %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :cover %>
        </div>
        <div class="col-sm-6">
          <%= f.input :category, collection: Post::CATEGORIES, selected: Post::CATEGORIES.first %>
        </div>
      </div>

      <%= f.input :content, label: 'Body', input_html: { rows: 5} %>
      <div class="text-center">
      <%= f.submit "Publier l'article maintenant", class: "btn btn-danger btn-lg" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
