<div class="row">

    <div class= "col-md-8 form-signup">
      <%= simple_form_for @post do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, label: 'Title', input_html: { class: "input-lg"} %>
      <%= f.input :introduction, label: 'Intro', input_html: { rows: 5} %>
      <%= f.input :content, label: 'Body' %>

      <%= f.input :cover %>
      <%= cl_image_tag @post.cover, transformation: :t_media_lib_thumb, angle: 340, overlay: "logo-mini-s", effect: "mask", opacity: "50" %>
      <%= f.input :category, collection: Post::CATEGORIES, selected: Post::CATEGORIES.first %>
      <%= f.submit "Publier votre article", class: "btn btn-success text-center" %>
      <% end %>
      <h4>
          <%= link_to "< Retour", :back,  class: "btn btn-default"  %>
        </h4>
    </div>

  </div>
</div>
