<div id="show-post">
  <div class="container-post">
    <div class="container-fluid">
      <div class="row">

            <%= cl_image_tag @post.cover, :crop => :fill, class: "img-post-header" %>
          <div class="cover-filter"></div>
          <div class=" col-md-8 col-md-offset-2">
            <div class="article">
              <div class="tags"> <%= @post.tag %></div>
                <h1 class="article-headline text-center"><%= @post.title %></h1>

                <div class="intro-part">
                  <% if user_signed_in?  %>
                    <h5><strong><%= @post.introduction %></strong></h5>
                  <% end %>
                </div>

                <div class="content-part">
                  <% if user_signed_in?  %>
                    <p><%= markdown @post.content %></p>
                  <% end %>
                </div>

                <div class="text-center buttons-view-post">
                  <% if current_user.try(:admin?) %>
                  <%= link_to "Modifier l'article", edit_post_path(@post), class: "btn btn-default btn-md" %>
                  <% else %>

                  <% end %>

                  <%= link_to "Voir tous les articles", posts_path, class: "btn btn-default btn-md" %>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

