<div id="show-post">
  <div class="container-post">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <%= cl_image_tag @post.cover, :crop => :fill, class: "img-post-header" %>
          <div class="cover-filter"></div>
            <div class="article">
              <div class="tags"> <%= @post.tag %></div>
                <h1 class="article-headline text-center"><%= @post.title %></h1>
                <p class="article-meta text-center">le <%= @post.created_at.strftime("%d %b, %Y") %> </p>

                <div class="intro-part">
                  <% if user_signed_in?  %>
                    <h4><%= @post.introduction %></h4>
                  <% end %>
                </div>

                <div class="content-part">
                  <% if user_signed_in?  %>
                    <p><%= markdown @post.content %></p>
                  <% end %>
                </div>

                <div class="text-center buttons-view-post">
                  <% if current_user.try(:admin?) %>
                  <%= link_to "Modifier l'article", edit_post_path(@post), class: "btn btn-default btn-md" %>
                  <% else %>

                  <% end %>

                  <%= link_to "Voir tous les articles", posts_path, class: "btn btn-default btn-md" %>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

