<!DOCTYPE html>
<html>
  <head>
    <title>SynestasiA</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>

    <!-- Markdown -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:site_name" content="SynestasiA" />
    <meta property="og:title" content="Qui Quoi Pourquoi Où Quand Comment" />
    <meta property="og:image" content="http://res.cloudinary.com/dzr44aeiu/image/upload/v1453889854/synestasia-homepage_sygboc.png" />
  </head>
  <body>
    <%= render 'shared/navbar' %>

    <div class="flashes">
      <%= render 'shared/flashes' %>
    </div>
    <%= yield %>

    <%= render 'shared/footer' %>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <%= javascript_include_tag 'application' %>

    <!-- simple markdown -->
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- jquery flip card -->
    <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js"></script>

    <!-- js FlipCard -->
    <script >
      $(".card").flip({axis: 'y'});
    </script>

    <script >
      $(".cardgenerator").flip({axis: 'x'});
    </script>

   <!-- js popover -->
    <script >
      $(document).ready(function(){
        $(".popover-word").popover({
          html: true,
          trigger: "hover",
          placement: "top"
        });
      })
    </script>

    <script >
      $(document).ready(function(){
        $(".popover-img").popover({
          html: true,
          trigger: "hover",
          content: "img",
          placement:'bottom'
        });
      })
    </script>


  <%= yield(:after_js) %>

  </body>
</html>



