<!DOCTYPE html>
<html>
  <head>
    <title>SynestasiA</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/breadcrumb' %>

    <%= yield %>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>

  <!-- js popover -->
  <script >
    $(document).ready(function(){
    $(".img-popover").popover({
    html: true,
    trigger: "hover",
    placement: "top"
    });
    })
  </script>

  <!-- js tooltip -->
      <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
      </script>

